<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/admin.css" />
    <title>Document</title>
  </head>
  <body>
    <a class="navbar-brand" href="/"
      ><img src="img/KST.jpg" class="logo" />
      <h3 class="logo-title">Admin Page</h3></a
    >

    <table class="content-table">
      <thead>
        <tr>
          <th>Primary key</th>
          <th>Username</th>
          <th>Email</th>
          <th>City</th>
          <th>Role</th>
        </tr>
      </thead>
      <% userInfo.forEach(function(user) { %>
      <tbody>
        <tr>
          <td><%=user._id %></td>
          <td><%=user.username %></td>
          <td><%=user.email %></td>
          <td><%=user.city %></td>
          <td><%=user.role %></td>
        </tr>
      </tbody>
      <% }) %>
    </table>
    <div class="functions">
      <h2>Functions</h2>
      <div class="funcstions_each">
        <form action="/addUser" method="POST">
          <h3>Adding the user:</h3>
          <div class="labelInput">
            <label>Username:</label>
            <input
              name="username"
              type="username"
              placeholder="Username"
              id="username"
              autocomplete="off"
            />
          </div>
          <div class="labelInput">
            <label>Email</label>
            <input
              name="email"
              type="email"
              placeholder="Email"
              id="email"
              autocomplete="off"
            />
          </div>
          <div class="labelInput">
            <label>Password:</label>
            <input
              name="password"
              type="password"
              placeholder="Password"
              id="password"
              autocomplete="off"
            />
          </div>
          <div class="labelInput">
            <label>City:</label>
            <input
              name="city"
              type="city"
              placeholder="City"
              id="city"
              autocomplete="off"
            />
          </div>

          <button type="submit" class="button">Add</button>
        </form>
      </div>
      <div class="funcstions_each">
        <form action="/deleteUser" method="POST">
          <h3>Deleting the user:</h3>
          <label>Username:</label>
          <input
            name="username1"
            type="username1"
            placeholder="Username"
            id="username1"
            autocomplete="off"
          />
          <button class="button">Delete</button>
        </form>
      </div>
      <form action="/editCheck" method="POST">
        <h3>Editing the user:</h3>
        <label>Username:</label>
        <input
          name="username2"
          type="username2"
          placeholder="Username"
          id="username2"
          autocomplete="off"
        />
        <button class="button">Edit</button>
      </form>
      <h3>Others:</h3>
      <div class="funcstions_each">
        <form action="/sortName" method="POST">
          <button class="button btn-name">Sort by name</button>
        </form>
      </div>
      <div class="funcstions_each">
        <form action="/sortCity" method="POST">
          <button class="button">Sort by city</button>
        </form>
      </div>
    </div>

    <div class="functions">
      <h2>Adding Desserts</h2>
      <form action="/addDessert" method="POST" enctype="multipart/form-data">
        <div class="labelInput">
          <label>Dessert name:</label>
          <input
            name="dessert_name"
            type="text"
            placeholder="Dessert name"
            id="dessert_name"
          />
        </div>
        <div class="labelInput">
          <label>Dessert author</label>
          <input
            name="dessert_author"
            type="text"
            placeholder="Dessert author"
            id="dessert_author"
          />
        </div>
        <div class="labelInput">
          <label>Dessert calorie:</label>
          <input
            name="dessert_calorie"
            type="text"
            placeholder="Dessert calorie"
            id="dessert_calorie"
          />
        </div>
        <div class="labelInput">
          <label>Dessert categories:</label>
          <input
            name="dessert_categ"
            type="text"
            placeholder="Dessert categories"
            id="dessert_categ"
          />
        </div>
        <div class="labelInput">
          <label>Dessert time:</label>
          <input
            name="dessert_time"
            type="text"
            placeholder="Dessert time"
            id="dessert_time"
          />
        </div>

        </div>
        <div class="desc">
          <label class="desc_label">Dessert description:</label>
          <textarea
            name="dessert_desc"
            type="text"
            id="dessert_desc"
            class="desc_input"
          ></textarea>
        </div>

        <button type="submit" class="button">Add</button>
      </form>
    </div>
  </body>
</html>
